.task {
    max-width: 600px;
    margin: 5px auto;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 7px;
    border-left: 5px solid;
    border-right: 5px solid;
}

.done {
    opacity: 60%;
}