.add_item_form {
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_item_btn {
    padding: 2px 5px;
    width: 80px;
    margin: 5px;
    cursor: pointer;
}

.task_input {
    padding: 5px;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}