* {
    box-sizing: border-box;
}

.todo {
    position: relative;
    width: 350px;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
}

.deleting{

}

.delete_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.todo_title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    border-left: 3px solid;
    border-right: 3px solid;
    margin: 5px 0;
    padding: 5px;
}

.done {
    opacity: 35%;
}

li input {
    margin: 0 10px;
    width: 20px;
    height: 20px;
}

.active {
    color: blue;
    font-weight: bold;
}

.button_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 2px 5px;
    width: 80px;
    margin: 5px;
}

.add_task_btn {
    cursor: pointer;
}

.task_input {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.date_input {
    text-align: center;
    width: auto;
}

.add_task_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.error {
    color: red;
    font-size: 12px;
}